In [1]:
import pandas as pd

In [61]:
transactions= pd.read_csv("/media/ssd2/bitcoinRemy/by_day/2011-03-01 00:00:00.csv")
transactions2= pd.read_csv("/media/ssd2/bitcoinRemy/by_day/2011-02-25 00:00:00.csv")

In [62]:
transactions.head()

    timestamp    sender receiver   value  value_Dol
0  1298938201    mining   485129   50.06      46.11
1  1298938201  13844503  2370328  100.00      92.11
2  1298938245    mining    91153   50.00      46.05
3  1298938201    185844  3131538   75.00      69.08
4  1298938245   -335924    22911    0.18       0.17

In [63]:
transactions2.head()

    timestamp   sender  receiver   value  value_Dol
0  1298593326   mining  26526505    50.0      45.73
1  1298592598   mining     15727    50.0      45.73
2  1298593326  6084175   1076508   200.0     182.93
3  1298592598  -322624   1328695   450.0     411.59
4  1298592598  -322624   -322625  1050.0     960.38

In [64]:
len(transactions)

5010

In [65]:
len(transactions2)

3633

In [66]:
def filter_out_self_spending(df):
    return df[df["sender"]!=df["receiver"]]
def filter_known_actors(df):
    return df[(~df["sender"].astype(str).str.isnumeric()) &  (~df["sender"].astype(str).str.isnumeric())]
def create_static_network(df):
    df=filter_out_self_spending(df)
    return df.groupby(["sender","receiver"]).agg({'value': ['sum','count'],"value_Dol": ["sum"]})
def create_dayly_network(df):
    df=filter_out_self_spending(df)
    return df.groupby(["sender","receiver","day"]).agg({'value': ['sum','count'],"value_Dol": ["sum"]})
def top_receivers(dataframe):
    return (dataframe.groupby(dataframe["receiver"]).sum()).sort_values("value",ascending=False)["value"]
def top_senders(dataframe):
    return (dataframe.groupby(dataframe["sender"]).sum()).sort_values("value",ascending=False)["value"]

In [67]:
network=create_static_network(transactions)
network2=create_static_network(transactions2)

In [68]:
len(network)
len(network2)

3493

In [69]:
netStolen=network.sort_values(('value_Dol',"sum"),ascending=False)

In [70]:
netStolen2= network2.sort_values(('value_Dol',"sum"),ascending=False)

In [71]:
netStolen.head(50)

                       value        value_Dol
                         sum count        sum
sender   receiver
159157   -337642   145046.00     1  133601.42
-337635  -337636   140354.00     1  129279.63
-337664  -337665   135516.00     1  124823.37
238368   -336990    79956.00     1   73647.22
-337657  -337658    40695.95     1   37484.91
45418    -336846    39500.00     1   36383.33
-338419  -338420    39300.00     1   36199.11
-337647  -337648    35783.95     1   32960.49
-337878  -337879    31425.95     1   28946.34
-337959  -337960    26854.95     1   24736.01
-337677  -337678    22135.95     1   20389.35
-337659  -337660    17516.95     1   16134.81
-337640  -337641    12582.95     1   11590.12
159157   35416212    4994.00     1    4599.96
         34451491    4971.00     1    4578.77
         35164678    4954.00     1    4563.11
-337691  -337692     4943.00     1    4552.98
-338520  -338521     4939.00     1    4549.30
-337640  36079203    4934.00     1    4544.69
-337647  35706394    4912.00     1    4524.43
-337657  35164678    4897.00     1    4510.61
159157   35539451    4856.00     1    4472.85
-337664  36057587    4838.00     1    4456.27
21969329 34806302    4829.00     1    4447.98
159157   36815693    4785.00     1    4407.45
17735874 36717574    4777.00     1    4400.08
159157   35754378    4769.00     1    4392.71
         34468159    4725.00     1    4352.18
-337677  34342212    4719.00     1    4346.66
-337635  35903353    4692.00     1    4321.79
159157   35076253    4624.00     1    4259.15
-337659  34774157    4619.00     1    4254.55
159157   36142144    4592.00     1    4229.68
-337959  34275844    4571.00     1    4210.33
-337878  35432993    4358.00     1    4014.14
660140   23296343    4350.00     1    4006.77
-337691  159157      4207.00     1    3875.05
17735874 -337674     2789.69     1    2569.57
-336508  539         2683.10     1    2471.40
64467    238368      2303.26     1    2121.53
-336533  -336534     2300.00     1    2118.52
-337853  35539657    1724.00     1    1587.97
-336524  -336525     1690.00     1    1556.65
-335988  -335989     1593.86     1    1468.10
-336078  -336079     1592.56     1    1466.90
-336268  -336269     1591.37     1    1465.81
-336514  -336515     1591.30     1    1465.74
-336625  -336626     1591.23     1    1465.68
-336715  -336716     1591.20     1    1465.65
-336905  -336906     1590.68     1    1465.17

In [72]:
netStolen2.head(50)

                      value       value_Dol
                        sum count       sum
sender    receiver
2117473   58062     2245.00     1   2053.39
197538    2242955   2000.00     1   1829.30
-322659   -322660   1690.29     1   1546.03
-322760   -322761   1688.97     1   1544.82
-323082   -323083   1687.91     1   1543.85
-323314   -323315   1686.88     1   1542.91
-323425   -323426   1685.84     1   1541.96
-323583   -323585   1684.84     1   1541.04
-323788   -323789   1684.29     1   1540.54
-323854   -323855   1684.13     1   1540.39
-323935   -323936   1678.86     1   1535.57
-324159   -324160   1678.66     1   1535.39
-324215   -324216   1678.51     1   1535.25
-324417   -324418   1677.34     1   1534.18
-324509   -324510   1675.86     1   1532.83
-324715   -324716   1674.82     1   1531.88
-324862   -324863   1672.81     1   1530.04
-325061   -325062   1670.05     1   1527.51
-325160   -325161   1668.14     1   1525.77
-325340   -325341   1667.01     1   1524.73
-325455   -325456   1665.96     1   1523.77
-325723   -325724   1664.94     1   1522.84
-325856   -325857   1661.25     1   1519.47
-326084   -326085   1659.87     1   1518.20
21971     -325198   1500.00     1   1371.98
ePay.info 1322925   1111.11     1   1016.28
508826    25065902  1100.03     1   1006.14
1073713   35705732  1063.83     1    973.03
-322624   -322625   1050.00     1    960.38
114609    -325046   1000.00     1    914.65
21971     45418     1000.00     1    914.65
14745168  -325048   1000.00     1    914.65
575059    -324125   1000.00     1    914.65
547085    6866651   1000.00     1    914.65
-323399   168757     999.13     1    913.86
-324513   -324514    650.00     1    594.52
1015393   114609     649.00     1    593.61
mining    758145     600.00    12    548.76
-324384   -324385    519.52     1    475.18
1295726   1076508    500.00     1    457.33
635183    -325066    495.20     1    452.94
150050    2244377    482.89     1    441.68
1524598   1073713    450.03     1    411.62
-322624   1328695    450.00     1    411.59
539       35705732   437.00     1    399.70
-322677   -322678    422.30     1    386.26
45418     1288524    400.00     1    365.86
mining    95021      400.00     8    365.84
539       -325680    386.51     1    353.52
mining    559708     350.00     7    320.11

In [75]:
top_senders(transactions).head(80)

sender
159157     189096.10
-337635    145046.00
-337664    140354.00
238368      80074.26
-337657     45592.95
             ...
-338398       420.00
1080          402.75
52759         329.97
-336923       325.00
8256531       311.66
Name: value, Length: 80, dtype: float64

In [58]:
top_senders(transactions2).head(50)

sender
34319974                 102244.29
35056875                  78643.77
35082280                  28051.70
Huobi.com-2               27683.26
116189                    26212.34
Poloniex.com              21849.02
211007                    21593.37
36679403                  21265.11
-103377791                19900.00
34595006                  19658.11
LocalBitcoins.com-old     15255.14
610                       12463.25
804                       11825.79
79439                     11161.36
101404                    10535.78
35157419                  10412.70
194878                    10387.98
180186                    10065.34
34434442                   9952.49
21                         8840.93
226812                     8601.82
110209                     8498.81
35626371                   8447.62
520678                     8172.57
Bitstamp.net               8123.70
1249                       8003.62
797453                     7530.76
209                        7180.00
34764780                   7000.00
609906                     6920.81
OKCoin.com                 6757.29
Matbea.com                 6685.82
BTC-e.com                  6674.33
-103318597                 6000.00
-103325450                 5799.55
-103329633                 5599.18
-103332777                 5397.18
534120                     5387.24
-103425382                 5314.33
-103336195                 5197.09
36114672                   5082.99
Xapo.com                   5057.12
36885333                   5047.15
581                        4972.70
-103485993                 4875.85
LocalBitcoins.com          4821.22
-103334533                 4530.09
35777763                   4323.86
30231621                   4269.17
ePay.info                  4124.44
Name: value, dtype: float64

In [74]:
transactions[transactions["sender"]="Mt.Gox"]

SyntaxError: invalid syntax (<ipython-input-74-965450966714>, line 1)